.content {
  background-color: transparent !important;
  box-shadow: none;
  .ticket-container {
    background-image: url("/assets/ticket.png");
    background-repeat: no-repeat;
    height: 276px;
    padding-top: 28px;
    background-position: -5px -5px;
    width: 787px;
    border-radius: 2px;
    position: relative;
    margin-top: 33px;
    .city {
      position: absolute;
      text-align: center;
      width: 412px;
      left: 124px;
      top: 62px;
      font-size: 1em;
      color: rgba(41, 43, 66, 0.76);
      font-weight: bold;
     }
     .link-count {
       position: absolute;
       text-align: center;
       width: 131px;
       left: 243px;
       top: 93px;
       font-size: 1em;
       color: rgba(41, 43, 66, 0.76);
       font-weight: bold;
      }
   .venue {
     position: absolute;
     text-align: center;
     width: 412px;
     left: 124px;
     top: 21px;
     font-size: 1.5em;
     color: rgba(41, 43, 66, 0.76);
     font-weight: bold;
 }
 .band-name {
   position: absolute;
   text-align: center;
   width: 303px;
   left: 238px;
   top: 193px;
   font-size: 2em;
   color: rgba(41, 43, 66, 0.76);
   font-weight: bold;
}
.date-month {     
  position: absolute;
  text-align: center;
  width: 114px;
  left: 125px;
  top: 110px;
  font-size: 3.3em;
  color: rgba(41, 43, 66, 0.76);
  font-weight: bold;
}
.date-day {     
  position: absolute;
  text-align: center;
  width: 114px;
  left: 125px;
  top: 174px;
  font-size: 5em;
  color: rgba(41, 43, 66, 0.76);
  font-weight: bold;
 }
 .date-year {     
   position: absolute;
   text-align: center;
   width: 114px;
   left: 125px;
   top: 231px;
   font-size: 2.2em;
   color: rgba(41, 43, 66, 0.76);
   font-weight: bold;
}

}
}
